.vbox {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-padding: 2.0;
    -fx-spacing: 3.0;

}
.hbox {
    -fx-padding: 2.0;
    -fx-spacing: 5.0;
    
}
.hbox_label{
    
}
.hbox_history{
	-fx-padding: 30.0px;
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.8) , 0.0, 0.0 , 0.0 , 1.0);
}
.label {
    -fx-font-size: 28.0px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding : 12.0 0.0 0.0 5.0;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
    -fx-font-family: 'Segoe UI Light';
}

.button {
    -fx-background-color: #cccccc;
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-background-radius: 3.0,2.0,2.0,2.0;
    -fx-padding: 12.0 15.0 12.0 15.0;
    -fx-text-fill: black;
    -fx-font-size: 16.0px;
    -fx-min-width: 50.0px;
    -fx-min-height: 50.0px;
    -fx-font-family: 'Segoe UI Light';
    
    
}
.button:hover {
    -fx-background-color: #b3b3b3;
}
.button:pressed  {
    -fx-background-color: #8c8c8c;
}
.messagedialog{
	-fx-background-color: #8c8c8c;
}

